<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informacion de Google</title>
</head>
<body>
    <h1>Bienvenidos al sitio de Info de Google</h1>
    
    <h2>Vas a descubrir lo que hay detras de la empresa más grande del mundoo</h2>
    
    <a href="www.google.com"><img src="/img/google.jpg" alt="Esta es la imagen de Google" width="200"></a>
    
    <p>La historia de Google comienza en 1995, en la Universidad de Stanford. Larry Page se estaba planteando estudiar en Stanford y Sergey Brin, que ya estudiaba allí, fue el encargado de mostrarle el campus. ... Este motor de búsqueda se llamó Backrub. Poco después, Backrub pasó a llamarse Google</p>

    <h3>Quienes son los creadores</h3>

    <ul>
        <li>Jeff Bezzos</li>
        <li>Elon Musk</li>
        <li>Bill Gates</li>
    </ul>
    
    <h3>Productos Claves</h3>

    <ol>
        <li>Buscador Google</li>
        <li>Android</li>
        <li><a href="www.gmail.com">Gmail</a> </li>
    </ol>

    <h4><a href="/pdf/google.pdf">Descargar historia de Google</a></h4>
</body>
</html>